/* Utilities */

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --main-boarder-color: #696867d5;
    --main-background-color: rgb(255, 255, 255);
    --main-white-font-color: rgb(240, 235, 235);
    --main-black-font-color: rgb(41, 39, 39);
    --main-span-color: antiquewhite;
    font-size: 16px;
}

.body_container {
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}

/* Language Switch */

.langSwitch {
    margin: 0px 5px;
    display: flex;
    align-items: center;
}

.langCheck {
    width: 10px;
    /* align-self: center; */
    position: relative;
    margin: 0px 30px 0px 10px;
    top: -5px;
}

.langCheck:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 20px;
    background: rgb(16, 168, 24);
    border-radius: 20px;
    left: -5px;
}

.langCheck:checked:before {
    background: #00a1ff;
}

.langCheck:after {
    content: "";
    position: absolute;
    left: 0px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    transition: 0.25s;
    border: 2px solid rgb(16, 168, 24);
    box-sizing: border-box;
    left: -5px;
}

.langCheck:checked:after {
    left: 15px;
    border: 2px solid #00a1ff;
}

/* textarea input focus */

textarea:focus,
input:focus {
    outline: none;
}

/* Footer */
/* touch */

.footer-distributed {
    position: absolute;
    bottom: 0;
    background-color: #ccc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 15px 20px;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

@media only screen and (min-width: 650px) {
    h1 {
        font-size: 25px;
    }

    h4 {
        font-size: 12px;
    }

    @keyframes show {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* Header */
    header {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url(images/hero.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        color: var(--main-white-font-color);
        overflow: hidden;
    }

    .hero_textbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header .photo_credit {
        position: absolute;
        top: 96%;
        right: 5%;
    }

    header .photo_credit a {
        color: var(--main-white-font-color);
        font-size: 12px;
    }

    /* Navigation */

    .navigation {
        width: 90%;
        height: 200px;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .navigation .logo {
        display: flex;
        align-items: center;
        color: var(--main-white-font-color);
    }

    .navigation .whiteLogo {
        display: block;
    }

    .navigation .blackLogo {
        display: none;
    }

    .navigation .logoImg {
        margin-right: 5px;
    }

    .navigation .logo img {
        width: 70px;
        height: 70px;
    }

    .navigation .logo a {
        text-decoration: none;
        color: var(--main-white-font-color);
    }

    .navigation .menu {
        display: flex;
        margin-left: auto;
    }

    .navigation .menu .menuItem {
        margin-left: 20px;
        border: none;
    }

    .navigation .menuItem a {
        text-decoration: none;

        color: var(--main-white-font-color);
    }

    .navigation .menuItem span {
        border: 1px solid var(--main-boarder-color);
        border-radius: 3px;
        padding: 0 0.3rem;
        color: var(--main-black-font-color);
        background-color: var(--main-span-color);
    }

    #shopManagement .dropdown {
        position: absolute;
        display: none;
    }

    #shopManagement .dropdown .dropdownMargin {
        margin-top: 10px;
        margin-left: 0px;
        background-color: lightgray;
    }

    #shopManagement .dropdown a {
        display: block;
        text-decoration: none;
        padding: 5px;
        color: var(--main-black-font-color);
    }

    #shopManagement:hover > .dropdown {
        display: block;
        animation: show 0.3s linear 0s;
    }

    .largeScreen {
        display: block;
    }

    #userManagement > .dropdown {
        position: absolute;
        display: none;
    }

    #userManagement > .dropdown > .dropdownMargin {
        margin-top: 10px;
        margin-left: 0px;
        background-color: lightgray;
    }

    #userManagement > .dropdown > .dropdownMargin > a {
        display: block;
        text-decoration: none;
        padding: 5px;
        color: var(--main-black-font-color);
    }

    #userManagement:hover > .dropdown {
        display: block;
        animation: show 0.3s linear 0s;
    }

    #userManagement > .dropdown > .dropdownMargin > .mobile {
        display: none;
    }

    /* Navigation not within Header */

    .navigation-noHeader {
        width: 90%;
        height: 100px;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .navigation-noHeader .logo {
        display: flex;
        align-items: center;
        color: var(--main-black-font-color);
    }

    .navigation-noHeader .logoImg {
        margin-right: 5px;
    }

    .navigation-noHeader .logo img {
        width: 70px;
        height: 70px;
    }

    .navigation-noHeader .blackLogo {
        display: block;
    }

    .navigation-noHeader .whiteLogo {
        display: none;
    }

    .navigation-noHeader .logo a {
        color: var(--main-black-font-color);
        text-decoration: none;
    }

    .navigation-noHeader .menu {
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    .navigation-noHeader .menu .menuItem {
        margin-left: 20px;
        color: var(--main-black-font-color);
    }

    .navigation-noHeader .menuItem span {
        border: 1px solid var(--main-boarder-color);
        border-radius: 3px;
        padding: 0 0.3rem;
        background-color: var(--main-span-color);
    }

    .navigation-noHeader .menuItem a {
        text-decoration: none;
        color: var(--main-black-font-color);
    }

    /* .navigation-noHeader #userManagement {
        position: relative;
    } */

    /* .navigation-noHeader #userManagement .dropdown {
        position: absolute;
        display: none;
    } */

    /* .navigation-noHeader .dropdown .dropdownMargin {
        margin-top: 10px;
        margin-left: 0px;
        background-color: lightgray;
    } */

    /* .navigation-noHeader > .dropdown a {
        display: block;
        text-decoration: none;
        padding: 5px;
        color: black;
    } */

    /* .navigation-noHeader #userManagement:hover > .dropdown {
        display: block;
        animation: show 0.3s linear 0s;
    } */

    /* Body */

    .body {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
        overflow: hidden;
    }

    .message {
        padding: 0.3rem;
        text-align: center;
    }

    /* Form */

    .body .form {
        border: 1px solid var(--main-boarder-color);
        border-radius: 10px;
        padding: 10px;
        min-width: 500px;
        max-width: 500px;
    }

    .body .form h2 {
        text-align: center;
    }

    .body .form form .form-group {
        display: flex;
        justify-content: flex-end;
        padding: 0.5em;
    }

    .body .form form .form-group > label {
        flex: 1;
        padding: 0.3em;
    }

    .body .form form .form-group > input {
        flex: 2;
        padding: 0.3em;
        border: 1px solid var(--main-boarder-color);
        border-radius: 10px;
    }

    .body .form form .form-group > button {
        margin: auto;
        padding: 0.5rem;
        background-color: #6060d1;
        color: white;
        border-radius: 10px;
    }

    /* Shop */

    .productContainer {
        display: flex;
        width: 100%;
    }

    .column-1 {
        flex-shrink: 0; /* shrinks to 0 to apply 70% width*/
        flex-basis: 70%; /* sets initial width to 70%*/
    }

    .box {
        background-color: rgba(146, 111, 47, 0);
        padding: 10px;
        margin: 1rem;
    }

    @media only screen and (max-width: 800px) {
        .container {
            flex-direction: column;
        }

        .box {
            margin: 0 0 1rem;
        }
    }

    .productTitle h3 {
        font-size: 16px;
        text-align: left;
        margin-left: 1rem;
    }

    .productTitle p {
        font-size: 16px;
        margin-left: 1rem;
    }

    .productTitle a {
        margin-left: 1rem;
        font-size: 13px;
        text-transform: uppercase;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .productHeader .description {
        font-family: "PT Serif";
        margin-top: 10px;
        font-size: 15px;
        background-color: #fff;
        color: #030e12;
        display: inline-block;
        margin: 25px 0;
        padding: 10px 25px;
        text-decoration: none;
        transition: all 150ms ease-in-out;
    }

    .productsContainer a {
        text-align: left;
        margin-bottom: 15px;
        text-decoration: none;
        border-radius: 40px/50px;
        background-color: white;
        outline: 0;
        padding: 4px;
        color: #030e12;
        border: 1px solid #5bccf6;
        text-align: center;
        cursor: pointer;
        width: 20%;
    }

    .productDescription_li {
        color: #030e12;
        display: inline-block;
        margin: 30px 0;
        padding: 15px 35px;
        text-decoration: none;
        transition: all 150ms ease-in-out;
        font-size: 13px;
        display: flex;
        width: 700px;
        line-height: 100%;
        padding: 5px;
        border-bottom: 1px solid #5bccf6;
    }

    .productDescription_li a {
        text-transform: uppercase;
        color: #030e12;
        font-size: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        margin-left: 20px;
        border-radius: 40px/50px;
        outline: 0;
        padding: 4px;
        border: 1px solid #5bccf6;
        text-align: center;
        cursor: pointer;
        width: 20%;
    }

    .fa {
        color: #030e12;
        margin-right: 10px;
    }

    .productDescription_li .cp_name {
        width: 250px;
        margin-left: 10px;
    }

    .productDescription_li .cp_written_by {
        width: 200px;
    }

    .productDescription_li .cp_price {
        text-transform: uppercase;
    }

    .product {
        display: flex;
        padding: 1rem;
        margin: 1rem;
        /* border: 1px solid var(--main-boarder-color);
    border-radius: 10px; */
    }

    .productHeader img {
        max-width: 200px;
        max-height: 200px;
        width: auto;
        height: auto;
        /* margin-left: 1rem; */
        margin: auto;
        border-radius: 5%;
    }

    .productHeader .productTitle {
        /* margin-left: 1rem; */
    }

    .productHeader .productTitle .productPrice a {
        /* margin-left: 1rem; */
    }

    .productHeader .description {
        /* margin: 20px 0px 0px 20px; */
        /* display: flex;
    align-items: flex-end; */
    }

    .productHeader .description .musicians {
        margin-right: 30px;
    }

    .productSongList {
        padding: 1rem;
        margin-left: 3rem;
    }

    .productDescription_li a {
        margin-left: 20px;
    }

    .productDescription_li {
        display: flex;
    }

    .productDescription_li .cp_name {
        width: 250px;
    }

    .productDescription_li .cp_written_by {
        width: 200px;
    }

    /* Product */
    .product .description {
        margin-left: 50px;
        display: flex;
    }

    .product .description .musicianName {
        margin-left: 5px;
    }

    .product .price {
        margin: 0px 10px;
    }

    /* Cart */

    .cartContainer {
        width: 100%;
    }

    .cartContainer .itemGroup {
        padding-bottom: 0.3rem;
    }

    .cartItem {
        display: flex;
    }

    .cartItem .name {
        min-width: 200px;
    }

    .cartItem .price {
        margin-right: 50px;
    }

    .cartContainer .totalPrice {
        display: block;
        text-align: left;
    }

    .paypalBtn {
        width: 200px;
    }

    /* Checkout */

    .cartItem .purchasedBefore {
        margin-left: 50px;
    }

    /* Dashboard */

    .leftContainer {
        width: 100%;
    }

    .leftContainer h2 {
        margin-bottom: 30px;
    }

    .leftContainer .itemGroup {
        display: flex;
        margin-bottom: 15px;
        padding: 10px;
        border: black 1px solid;
        border-radius: 5px;
    }

    .leftContainer .itemGroup div {
        min-width: 150px;
        margin-right: 5px;
    }

    .leftContainer .itemGroup .purchasedLink {
        margin-right: 10px;
    }

    /* Admin */

    /* adding genres */

    .leftContainer .adminItems {
        margin-bottom: 50px;
    }

    .adminItems form {
        display: inline-block;
        padding: 5px;
        border: 1px solid var(--main-boarder-color);
        border-radius: 5px;
    }

    .adminItems form div {
        margin-bottom: 5px;
        display: flex;
    }

    .adminItems form div label {
        display: inline-block;
        min-width: 130px;
    }

    .adminItems form .submitButton {
        padding: 2px;
        background-color: rgb(60, 50, 250);
        color: white;
    }

    .adminItems form div .input {
        min-width: 250px;
    }

    /* adding musicians */

    .leftContainer .newMusicians {
        margin-bottom: 50px;
    }

    .newMusicians form {
        display: inline-block;
        padding: 5px;
        border: 1px solid var(--main-boarder-color);
        border-radius: 5px;
    }

    .newMusicians form div {
        margin-bottom: 5px;
        display: flex;
    }

    .newMusicians form div label {
        display: inline-block;
        min-width: 130px;
    }

    .newMusicians form .submitButton {
        padding: 2px;
        background-color: rgb(60, 50, 250);
        color: white;
    }

    .newMusicians form div .input {
        min-width: 250px;
    }

    /* adding products */

    .newProducts {
        margin-bottom: 50px;
    }
    .newProducts form {
        display: inline-block;
        padding: 5px;
        border: 1px solid var(--main-boarder-color);
        border-radius: 5px;
    }

    .newProducts form div {
        margin-bottom: 5px;
        display: flex;
    }

    .newProducts form div label {
        display: inline-block;
        min-width: 130px;
    }

    .newProducts form div .input {
        min-width: 250px;
    }

    .newProducts form .inputText {
        min-width: 250px;
        min-height: 100px;
    }

    .newProducts .form .submit {
        display: flex;
    }

    .newProducts form .submitButton {
        padding: 2px;
        background-color: rgb(60, 50, 250);
        color: white;
    }

    .newProducts form .submitButton:hover {
        background-color: rgb(93, 86, 243);
        cursor: pointer;
    }

    .newProducts .productName label {
        margin-right: 5px;
    }

    .existingProduct {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .existingProduct .files {
        margin-left: 10px;
    }

    .existingProduct .update {
        display: flex;
    }

    .existingProduct .update .publish {
        margin-right: 15px;
        padding-top: 2px;
    }

    .existingProduct .removeForm {
        display: flex;
    }

    .existingProduct .removeForm .fileItem {
        margin-right: 10px;
    }

    /* Welcome Page */
    /* touch */
    .full-width-bg {
        background: linear-gradient(
            90deg,
            rgba(41, 39, 39, 0) 0%,
            #fff 13%,
            #ccc 13%,
            #ccc 100%
        );
        width: 100%;
        height: 100%;
    }
    /* touch */
    .helloFromDirector {
        margin: 5% 100px;
        display: flex;
        overflow: hidden;
    }
    /* touch */
    .helloFromDirector img {
        width: 250px;
        height: auto;
        top: 10vh;
        overflow: hidden;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
        background-blend-mode: screen;
    }
    /* touch */
    .helloFromDirector .comment {
        margin: 20px;
    }
    /* touch */
    .playalongApp {
        background: rgb(248, 248, 248);
        border-radius: 2rem;
        padding: 5px;
        margin: 5% 100px;
        display: flex;
        overflow: hidden;
    }
    /* touch */
    .playalongApp img {
        border-radius: 27px;
        box-shadow: 10px 10px 3px #ccc;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        width: 200px;
        height: auto;
        margin-right: 120px;
    }
    /* touch */
    .playalongApp .comment {
        padding: 5px;
        margin-top: 2rem;
        margin-left: 20%;
        margin-right: 90px;
    }
    /* touch */
    .container {
        margin: 5% 100px;
        background-color: rgb(248, 248, 248);
        border-radius: 2rem;
    }

    /* Jamappios */

    .jamappios p {
        text-align: center;
    }

    .jamappios .img {
        margin-bottom: 100px;
    }
    .jamappios img {
        width: 100%;
        height: auto;
    }
}


@media screen and (max-width: 649px) {
    /* Body */

    /* Message */

    .message {
        text-align: center;
    }

    /* Header & Navigatiton */

    .whiteLogo {
        display: none;
    }

    .blackLogo {
        display: block;
        width: 80px;
        height: 80px;
    }

    .siteName {
        display: none;
    }

    header {
        height: 200px;
        display: flex;
        overflow: hidden;
    }

    header h4 {
        display: none;
    }

    header h1 {
        position: absolute;
        top: 400px;
        left: 20%;
        z-index: 990;
        color: var(--main-white-font-color);
        font-size: 20px;
    }

    .navigation {
        width: 70%;
        height: 100px;
        display: flex;
        align-items: center;
        margin: 0% 3%;
        overflow: hidden;
    }

    .navigation-noHeader {
        width: 70%;
        height: 100px;
        display: flex;
        align-items: center;
        margin: 0% 3%;
        overflow: hidden;
    }

    .menuItem {
        margin-left: 7%;
        margin-top: 0.5%;
    }

    /* for displaying items in Cart */
    .menuItem span {
        border: 1px solid var(--main-boarder-color);
        padding: 0px 3px;
        border-radius: 5px;
        background-color: blanchedalmond;
    }

    .menu {
        display: flex;
        margin-left: auto;
    }

    .largeScreen {
        display: none;
    }

    #userManagement {
        margin-left: 0px;
    }

    .menuItem p {
        margin-top: 40px;
        margin-bottom: 30px;
        margin-left: 7%;
    }

    .menuItem a {
        display: block;
        text-decoration: none;
        min-width: 60px;
        color: var(--main-black-font-color);
        margin-left: 7%;
        margin-top: 30px;
        margin-bottom: 30px;
        color: rgb(36, 33, 33);
        font-size: 2em;
        font-weight: 900;
        text-transform: uppercase;
        transition: all .3s ease;
        line-height: 2;
    }
    .menuItem p{
        font-size: 2em;
        font-weight: 900;
        text-transform: uppercase;
    }
    .menuItem a:hover{
        color: #536985;
        transition:color .5s
    }

    .menuItem > .dropdown > .dropdownMargin > .mobile > .dropdownMargin > a {
        margin-left: 40px;
    }

    .mobile {
        display: block;
    }

    /* Hamburger Menu for mobile */

    div#sp-icon {
        width: 70px;
        height: 70px;
        position: absolute;
        right: 0px;
        top: 13px;
        z-index: 999;
    }

    div#sp-icon:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    div#sp-icon span,
    div#sp-icon span:before,
    div#sp-icon span:after {
        display: inline-block;
        width: 30px;
        height: 3px;
        background: #000000;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.3s;
    }

    div#sp-icon span {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    div#sp-icon span:before {
        content: "";
        transform: translateY(-10px) rotate(0deg);
        
    }

    div#sp-icon span:after {
        content: "";
        transform: translateY(10px) rotate(0deg);
    }

    div.sp-open span {
        background: transparent !important;
    }

    div.sp-open span:before {
        transform: rotate(45deg) !important;
    }

    div.sp-open span:after {
        transform: rotate(-45deg) !important;
    }

    /* Menu for mobile devices */

    #userManagement {
        width: 100%;
        min-height: 100vh;
  padding-top: 112px;
  background: #7eb4e2;
        /* opacity: 0.9;  */
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 990;
        display: none;
    }

    /* Welcome page */

    .helloFromDirector img {
        width: 100%;
        overflow: hidden;
    }

    .filter {
        background: black;
        margin: 3%;
        overflow: hidden;
    }

    .filter-img {
        display: block;
        opacity: 0.5;
        overflow: hidden;
    }

    .comment {
        width: 100%;
        margin: 5%;
    }

    .comment p {
        width: 90%;
    }

    .playalongApp img {
        display: block;
        margin: auto;
        border-radius: 30px;
    }

    /* Forms */

    .form {
        margin-top: 30%;
        margin-left: 5%;
        margin-right: 5%;
        border: 1px solid var(--main-boarder-color);
        padding: 5px;
        border-radius: 15px;
    }

    .form h2 {
        text-align: center;
    }

    .form-group {
        display: flex;
        justify-content: flex-end;
        padding: 0.5em;
    }

    .form-group > label {
        flex: 1;
        padding: 0.3em;
    }

    .form-group > input {
        flex: 2;
        padding: 0.3em;
        border: 1px solid var(--main-boarder-color);
        border-radius: 10px;
        outline: none;
    }

    .form-group > button {
        margin: auto;
        padding: 0.5rem;
        background-color: #6060d1;
        color: white;
        border-radius: 10px;
    }

    /* Cart */

    .cartContainer {
        width: 90%;
        margin: 5%;
    }

    .cartContainer .cartItem {
        display: flex;
    }

    .cartContainer .cartItem div {
        min-width: 100px;
    }

    /* Shop */

    .productsContainerMaster {
        width: 100%;
    }
    .productsContainer {
        width: 100%;
    }

    .product {
        display: flex;
        padding: 1rem;
        margin: 1rem;
        /* border: 1px solid var(--main-boarder-color);
        border-radius: 10px; */
    }

    .productHeader img {
        display: none;
        /* max-width: 200px;
        max-height: 200px; */
        /* width: 100%;
        height: 100%;
        border-radius: 5%; */
        /* margin-left: 1rem; */
    }

    .productHeader .productTitle .productPrice {
        display: flex;
    }

    .productHeader .productTitle .productPrice a {
        margin-left: 10px;
    }

    .productHeader .description {
        margin: 10px 0px 0px 0px;
        display: flex;
        align-items: flex-end;
    }

    .productHeader .description .musicians {
        margin-right: 30px;
    }

    .productSongList {
        padding: 1rem;
        /* margin-left: 3rem; */
    }

    .productDescription_li a {
        margin-left: 20px;
    }

    .productDescription_li {
        display: flex;
    }

    .productDescription_li .cp_name {
        width: 55%;
    }

    .productDescription_li .cp_written_by {
        display: none;
    }

    .productDescription_li .cp_price {
        margin-left: 10px;
    }

    .productsContainer {
        width: 90%;
        margin: 5%;
    }

    .productsContainer .product {
        border: 1px solid var(--main-boarder-color);
        padding: 5px;
        border-radius: 8px;
        margin: 5px 0px;
    }

    /* Dashboard and Admin */

    .leftContainer {
        width: 90%;
        margin: 5%;
        overflow: hidden;
    }

    /* Dashboard */

    .leftContainer .itemGroup {
        border: 1px solid var(--main-boarder-color);
        padding: 5px;
        border-radius: 8px;
        margin: 5px 0px;
    }

    .leftContainer .newProducts {
        margin: 20px 0px;
    }

    .leftContainer .existingProduct {
        border: 1px solid var(--main-boarder-color);
        padding: 5px;
        border-radius: 8px;
        margin: 5px 0px;
    }

    /* Jamappios */

    .jamappios p {
        text-align: center;
    }

    .jamappios .img {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .jamappios img {
        width: 100%;
        height: auto;
    }
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background: rgb(248, 248, 248);
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 10px;
    place-items: center;
    max-width: 1620px;
    min-height: 100vh;
}

.overlay {
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    width: 100%;
    border-radius: 2rem;
    align-items: center;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

ul {
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    text-decoration: none;
    padding: 0;
    width: 500px;
}

@media (max-width: 600px) {
    .overlay {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding: 20px;
        max-width: 100%;
        border-radius: 1rem;
        box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(46, 41, 41, 0.125);
    }

    ul {
        font-size: 7.5px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: inline-block;
    }
    ul li label {
        border-radius: 12px 10px 10px 12px;
        padding: 20px;
        font-size: 7.5px;
        padding: 5px;
        max-width: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    ul li input[type="checkbox"] {
        padding: 20px;
        display: none;
        width: 400px;
        display: inline-block;
        text-align: left;
    }
}

ul li label {
    /* box-shadow: 3px 2px 1px #00000075; */
    border-radius: 10px 10px 10px 10px;
    padding: 50px;
    border: 1px solid grey;
    border-top: 1px solid #878e98;
    border-bottom: 1px solid grey;
    color: black;
    /* text-shadow: 0 1px 1px lightgray; */
    letter-spacing: 0.09em;
}

ul li input[type="checkbox"] {
    display: none;
}

ul li label {
    display: block;
    padding: 12px;
    padding-bottom: 10px;
    width: 500px;
}
ul li label:hover {
    border-radius: 0px;
    background: #ddd;
}

ul li i {
    vertical-align: middle;
    width: 20px;
    display: inline-block;
}

ul li span {
    margin-bottom: 0cm;
    display: inline;
    float: right;
    border: 1px solid #3c434c;
    border-bottom: 1px solid #707781;
    padding: 0px 5px 1px;
    font-size: 10px;
    -moz-border-radius: 12px;
    border-radius: 5px;
    position: relative;
}
ul li span:hover{
    color: white;
}

@media (max-width: 767px){
    ul li span{
        border: none;
    }
}

ul li span p{
    display: inline;
    float: right;
    padding: 1px 3px;
    font-size: 10px;
    position: relative;
    margin-bottom: 0cm;
}


@media (max-width: 767px){
    ul li span p{
       display: none; 
    }

}
ul li input[type="checkbox"]:checked ~ label {
    background: #44c6eb;
    border-top: 1px solid #878e98;
    border-bottom: 1px solid #2799db;
}

ul li input[type="checkbox"]:checked ~ label span {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d5d7d8;
}

ul li input[type="checkbox"]:checked ~ .options {
    border-radius: 0 0 10px 10px;
    border: 1px solid grey;
    height: auto;
    display: block;
    min-height: 40px;
    max-height: 400px;
}

ul ul li a {
    display: block;
    padding: 6px 12px;
    color: #999;
    text-decoration: none;
}

ul ul li a:hover {
    color: #44c6eb;
}

ul ul li a span {
    color: #999;
    background: none;
    border: 1px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul ul li {
    border-bottom: 1px solid #ccc;
}

ul ul li:first-child {
    padding-top: 6px;
}

ul ul li:last-child {
    padding-bottom: 6px;
    border: 0;
}

.options {
    height: 0;
    display: block;
    overflow: hidden;
}

.music {
    margin-bottom: 10px;
}

.filterDiv {
    margin: 2px;
    display: none;
}

.show {
    display: block;
}

.jamappProductsContainer {
    overflow: hidden;
    font-size: 10px;
    border: 1 px solid grey;
}

/* Style the buttons */

#myBtnContainer {
    font-size: 18px;
    list-style: none;
    box-shadow: 3px 3px 5px #00000075;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 45%;
    text-align: center;
    background: #fff;
    border: 1 px solid grey;
    padding: 15px;
}
#myBtnContainer button {
    margin-left: 22px;
    margin-right: 22px;
}
#myBtnContainer button:hover {
    border-radius: 0;
}

@media (max-width: 767px) {
    #myBtnContainer {
        /* toogle */
        display: block;
        font-size: small;
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    #myBtnContainer button {
        font-size: 8px;
        margin: 5px;
        padding: 5px;
    }
}
.btn {
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

.fa-music {
    font-size: 10px;
    color: #44c6eb;
}
.fa-soundcloud {
    font-size: 10px;
}
/* change font */
.fa-cart-plus {
    font-size: 10px;
    color: #44c6eb;
}

@media (max-width: 767px){
    .fa-cart-plus {
        transition: transform .2s;
    }
    .fa-cart-plus:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);  
        color: black;
    }  
}

